
.vs/LoginPage/config/applicationhost.config
*.config
LoginPage/obj/Debug/LoginPage.csproj.AssemblyReference.cache
LoginPage/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/LoginPage/v16/.suo
.vs/LoginPage/config/applicationhost.config
