
*.pdb
*.dll
LoginPage/obj/Debug/LoginPage.csproj.FileListAbsolute.txt
*.cache
.vs/LoginPage/v16/.suo
.vs/LoginPage/config/applicationhost.config
.vs/LoginPage/config/applicationhost.config
.vs/LoginPage/v16/.suo
*.dll
LoginPage/bin/LoginPage.pdb
*.cache
LoginPage/obj/Debug/LoginPage.csproj.FileListAbsolute.txt
*.dll
LoginPage/obj/Debug/LoginPage.pdb
.vs/LoginPage/v16/.suo
.vs/LoginPage/v16/.suo
